
@import url('https://googleapis.com');

:root{
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #007bff;
}

[data-theme= "dark"] {
  --bg-color: #1d1e1d;
  --text-color: #f1f1f1;
  --primary-color: #4da3ff;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dark{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#dark:hover{
    transform: scale(1.1);
}

#dark:active{
    transform: scale(0.9);
}

#greeting{
    font-size: 30px;
}

.container{
    display: flex;
    height: 200px;
    background-color: rgb(173, 222, 255);
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-bottom: 80px; 
}

.bear{
    position: relative;
     transform: translateY(20%);
}

.maskot{
    /* transform: translateY(20%); */
    position: relative;
}

.white {
    position: absolute;
    width: 60px; /* Sesuaikan dengan ukuran putih matanya */
    height: 60px;
    background-color: white; /* Bikin putih pakai CSS aja, nggak usah gambar svg */
    border-radius: 50px 50px 40px 40px;
    top: 30%; /* Atur naik turunnya */
    overflow: hidden; /* Ini yang bikin pupil nggak keluar batas */
}

.mata-kiri {
    left: 20%;
    top: 32%; 
}
.mata-kanan {
    left: 60%; 
    top: 38%;
}

.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px; 
    margin-top: -15px;
    transition: transform 0.1s ease-out;
}

#total{
    font-size: 30px;
}

.input{
    height: auto;
    border: 2px solid #1d1e1d6d;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 20px;
}

.akt, input, .nom{
    margin-bottom: 5px;
}

input {
    width: 90%;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    background-color: var(--bg-color);
}

.catat{
    margin: 5px;
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #76aeeb;
    color: #0f284e;
    font-size: 20px;
}   

select{
    font-size: 16px;
}